/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 2rem;
}

#ovelsetabell{
    border: 1px solid black;
    background-color:lightyellow;
}

#inputfelt{
    border: 1px solid black;
    background-color:lightgreen;
}

#sidebunn{
    clear: both;
}

#tabell{
    width: 100%;
    background-color:lightblue;
}

table td {
    border-top: thin solid; 
    border-bottom: thin solid;
}

table td:first-child {
     border-left: thin solid;
}

table td:last-child {
     border-right: thin solid;
}

#slett_btn{
    width: 1rem;
    height: 1rem;
    margin-top: 0.5rem;
    padding: none;
    border: 0;
    text-indent: -1000em;
    cursor: pointer; /* hand-shaped cursor */
    cursor: hand; /* for IE 5.x */
}